/* Navbar */

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}
.navbar-nav{
    padding-left: 650px;
}


/* Jumbotron */

.jumbotron {
    background-image: url(slider/jumbotron-10.jpg);
    background-size: cover;
    height: 500px;
    width: 1536px;
    /* margin-left: 100px;
    margin-right: 100px; */
}
.jumbotron .display-4{
    color: white;
    text-align: center;
    padding-top: 92px;
    padding-right: 350px;
    /* font-weight: ; */
    font-size: 32px;
    font: Helvetica;
}
.jumbotron .lead{
    color: white;
    font: normal;
    font-weight: 500;
    padding-left: 300px ;
    font-size: 15px;
    font: Helvetica;
}

.jumbotron .logo{
    position: absolute;
    width: 253px;
    height: 249px;
    padding-top: 92px;
    padding-left: 92px;
}


/* Info Panel */
.info-panel{
    /* background-color: salmon; */
    border-radius: 50px;
    margin-top: -166px;
    background-color: white;
    padding: 30px;
    border-style: solid;
    border-color: rgba(3, 34, 114, 1);
}
.info-panel h2{
    font: Helvetica;
    font-size: 18px;
    font-weight: 500;
}
.info-panel img{
    /* left: 100px; */
    width: 103px;
    height: 100px;
    margin-bottom: 21px;
}
/* Utility */

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/*Desktop Version  */

@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: black !important;
        /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); */
        
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 10px;
    }

    .navbar-brand:hover {
        border-bottom: 3.5px solid #0b63dc;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    /* .jumbotron{
        margin-top: -70px;
    } */
}