body{
    width: 1440px;
}
/* Navbar */

.navbar-brand {
    font-family: Viga;
    font-size: 30px;
}
.navbar-nav{
    margin-left: auto;
    /* padding-left: 6px; */
    /* padding-right: ; */
}


/* Jumbotron */

/* .jumbotron {
    background-image: url(slider/jumbotron-10.jpg);
    background-size: cover;
    height: 700px;
    width: 1515px;
}
.jumbotron .display-4{
    color: white;
    text-align: center;
    padding-top: 92px;
    padding-right: 245px;
    font-size: 32px;
    font: Helvetica;
}
.jumbotron .lead{
    color: white;
    font: normal;
    font-weight: 500;
    padding-left: 350px ;
    font-size: 15px;
    font: Helvetica;
}

.jumbotron .logo{
    position: absolute;
    width: 253px;
    height: 249px;
    padding-top: 92px;
    padding-left: 92px;
} */

/* Carousel */
.carousel-item{
    /* width: auto; */
    height: 555px;
}

.carousel-item .carousel-caption{
    position: absolute;
    color: white;
    font: normal;
    font-weight: 500;
    top: 92px;
    padding-left: 320px ;
    text-align: left;
    font-size: 15px;
    font: Helvetica;
}

.carousel-caption img{
    position: absolute;
    left: 50px;
    width: 253px;
    height: 249px;
    padding-bottom: 50px;
    padding-right: 50px;
    margin-left: 10px;
}
.carousel-caption .caption-h4{
    font-size: 32px;
}

.carousel-caption .caption-p{
    font-size: 18px;
}

/* Info Panel */
.info-panel{
    /* background-color: salmon; */
    border-radius: 50px;
    margin-top: -170px;
    background-color: white;
    padding: 30px;
    border-style: solid;
    border-color: rgba(3, 34, 114, 1);
    z-index: 1;
}
.info-panel h2{
    font: Helvetica;
    font-size: 18px;
    font-weight: 500;
}
.info-panel img{
    width: 103px;
    height: 100px;
    margin-bottom: 21px;
}



/* Utility */

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/*Desktop Version  */

@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: black !important;
        
    }
    .navbar-nav{
        margin-left: auto;
    }
    .navbar-nav .nav-item{
        text-size-adjust: 50px;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 5px;
    }

    .navbar-brand:hover {
        border-bottom: 3.5px solid #0b63dc;
        margin-bottom: -3.5px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    /* .jumbotron{
        margin-top: -70px;
    } */
    .carousel-item{
        /* width: auto; */
        height: 555px;
    }
    .carousel-item .carousel-caption{
        padding-left: 200px;
    }
    .carousel-caption img{
        position: absolute;
        left: 0;
        width: 204px;
        height: 200px;
        padding-bottom: 50px;
        padding-right: 50px;
        margin-left: 10px;
    }
    .carousel-caption .caption-h4{
        font-size: 30px;
    }
    
    .carousel-caption .caption-p{
        font-size: 12.5px;
    }
    .info-panel{
        /* background-color: salmon; */
        width: 750px;
        height: 170px;
        border-radius: 50px;
        margin-top: -250px;
        background-color: white;
        padding: 30px;
        border-style: solid;
        border-color: rgba(3, 34, 114, 1);
        z-index: 1;
    }
    .info-panel h2{
        font: Helvetica;
        font-size: 10px;
        font-weight: 500;
    }
    .info-panel img{
        width: 50px;
        height: 47px;
        margin-bottom: 21px;
    }
}